html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }

  li, a button {
    font-weight: 500;
    font-size: 16;
    color: #edf0f1;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: grey;
    height: 100px;
    position: relative;
  }

  .logo {
    cursor: pointer;
    min-width: 100px;
    max-width: 100px;
    /* not sure */
    /* min-height: 100px;
    max-height: 100px; */
    border-radius: 5px;
  }

  .nav__links {
    list-style: none;
  }

  .nav__links li {
    display: inline-block;
    padding: 0px 20px;
  }

  .nav__links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }

  .nav__links li a:hover {
    color: #0088a9;
  }

  button {
    padding: 9px 25px;
    background: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  button:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }

.dk-title {
  font-size: 20px;
  text-align: center;
}

.all-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
}

.image-title {
  width: 250px;
  height: 250px;
  border: gainsboro solid;
  border-radius: 5px;
  cursor: pointer;
}

.overlay {
  width: 250px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: opacity 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay:hover {
  opacity: 1;
}

.product-info .name {
  font-weight: bold;
  font-size: 20px;
}

.purchase{
  width: 100px;
  height: 40px;
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  float: left;
  margin-top: 50px;
  margin-left: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.purchase:hover {
  background-color: black;
}

.whole-wrap {
  position: relative;
  margin-right: 250px;
}

.beat-logo {
  position: relative;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.side-menu {
  position: relative;
  width: 300px;
  height: 250px;
  border: 4px solid;
  margin-top: 50px;
}

.side-menu .packet .sidebar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.packet .sidebar li {
  border: 2px solid gray;
  margin-bottom: 10px;
  cursor: pointer;
}

.packet .sidebar li a {
  text-decoration: none;
}