html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  .box {
    min-width: 200px;
    width: 200px;
    height: 100px;
    border: 1px solid grey;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fafafa;
    transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
    transition: height 0.2s ease-in;
    position: relative;
  
    display: flex;
  }
  .box:hover {
    background-color: #eee;
    border-color: transparent;
    height: 150px;
  }
  
  .picture {
    min-width: 50%;
    max-width: 50%;
    width: 50%;
    background-color: red;
    margin: 5px;
  }
  .box .info {
    margin: 5px;
  }
  .box .info .title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .box .info .desc {
    font-size: 12px;
  }
  /* title */
  .bp-title {
    text-align: center;
    background-color: whitesmoke;
    border-bottom: solid;
    border-radius: 10px;
  }

