html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
body {
  margin: 0;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: 0px 1px 7px black;
  height: 50px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: darkcyan;
  color: white;
}

/* Title image */
.title-image {
  background-image: url("images.jpeg");
  height: 100vh;
  background-size: cover;
  position: relative;
}
.title-image-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.4);
  transition: background-color 0.3s ease-in;
}

.title-image-wrap:hover {
  background-color: rgba(0,0,0,0.7);
}

.title-image h1 {
  margin: 0;
  color: red;
  font-size: 50px;
  /* cursor: pointer; */
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
}

.title-image h1:hover {
  font-size: 75px;
}

/**
 Main title
*/
.main-title {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

/**
  Boxes
*/
.middle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100vh;
}

/**
  Drumkit box
*/
.box {
  min-width: 200px;
  width: 200px;
  height: 100px;
  border: 1px solid grey;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fafafa;
  transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
  position: relative;

  display: flex;
}
.box:hover {
  background-color: #eee;
  border-color: transparent;
}

.picture {
  min-width: 50%;
  max-width: 50%;
  width: 50%;
  background-color: red;
  margin: 5px;
}
.box .info {
  margin: 5px;
}
.box .info .title {
  font-size: 20px;
  margin-bottom: 10px;
}
.box .info .desc {
  font-size: 12px;
}

